<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Shopping list app</title>
</head>
<body>
    <div id="shopping-list">
      <div class="header">
        <h1>{{ header.toLocaleUpperCase() }}</h1>
        <button class="btn btn-primary" v-if="state === 'default'" @click="changeState('edit')">Add Item</button>
        <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
      </div>
      <div v-if="state === 'edit'" class="add-item-form">
        <input type="text"
        v-model="newItem"
        placeholder="Add an item"
        @keyup.enter="saveItem" >
        <p>{{ charactercount }}/200</p>
        <button class="btn btn-primary"
                @click="saveItem" v-bind:disabled="newItem.length === 0">Save Item</button>
      </div>
       
         <ul>
             <li v-for="item in reversedItems"
             :class="{strikeout: item.purchased}"
             @click="togglePurchased(item)">{{ item.label }}</li>
         </ul>
         <p v-if="items.length === 0">Nice Job! You're bought all  your items</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
       var shplist = new Vue({
            el: "#shopping-list",
            data: {
                state:'default',
                newItem:'',
                header: "Shopping List App",
                items: [
                    {
                      label: "1 abc",
                      purchased: false,
                    },
                    {
                      label: "2 xcb",
                      purchased: true,
                    },
                    {
                      label: "3 dfds",
                      purchased: false,
                    }
                ]

            },
            methods: {
                saveItem: function() {
                    this.items.push({
                        label: this.newItem,
                        purchased:false
                    });
                    this.newItem = '';
                },
                changeState: function(newState) {
                    this.state = newState;
                    this.newItem = '';
                },
                togglePurchased: function(item) {
                    item.purchased = !item.purchased;
                }
            },
            computed: {
                charactercount: function() {
                    return this.newItem.length;
                },
                reversedItems: function() {
                    return this.items.slice(0).reverse();
                }
            }
        })
    </script>
</body>
</html>